<h1>All Flights:</h1>

<% @flights.each do |flight| %>
<div>
    <p>Flight Number: <%= flight.number %></p>
    <p>Airline: <%= flight.airline.name %></p>
    <p>Passengers:</p>
    <% flight.passengers.each do |passenger| %>
    <div>
      <p><%= passenger.name %></p>
    <% end %>
  </div>
<div>
<% end %>
